<div class="row">
  <div class="span8">
    <h1><%= @entity.name %>
      <small>Users</small>
    </h1>
  </div>
  <div class="span4" style="padding-top: 20px;">
    <%= link_to 'Add User', new_admin_entity_user_path, :class => 'btn pull-right' %>
  </div>
</div>

<table class="table">
  <tr>
    <th>Username</th>
    <th>Link</th>
    <th>Comment</th>
    <th>AMAs</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.link_karma %></td>
        <td><%= user.comment_karma %></td>
        <td><%= user.amas.count %></td>
        <td><%= link_to 'Destroy', admin_entity_user_path(@entity, user), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
