<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @comment.key %>
</p>

<p>
  <b>Parent key:</b>
  <%= @comment.parent_key %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Ama:</b>
  <%= @comment.ama_id %>
</p>

<p>
  <b>Date:</b>
  <%= @comment.date %>
</p>

<p>
  <b>Content:</b>
</p>
<div class="well">
  <%= @comment.content.html_safe %>
</div>

<%= link_to 'Back', admin_ama_comments_path(@ama) %>
