<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @entities_link.entity.name %>
</p>

<p>
  <b>Title:</b>
  <%= @entities_link.title %>
</p>

<p>
  <b>Link:</b>
  <%= @entities_link.link %>
</p>


<%= link_to 'Back', admin_entity_path(@entity) %>
