<div class="row">
  <div class="col-span-12">
    <h1>Listing amas</h1>

    <table class="table">
      <tr>
        <th></th>
        <th>AMA</th>
        <th>Comments</th>
        <th>Responses</th>
      </tr>

      <% @amas.each do |ama| %>
          <tr>
            <td><%= ama.user.entities.count %></td>
            <td>
              <strong><%= link_to truncate(ama.title, :length => 100), ama_path(ama) %></strong><br/>
              <span class="muted"><%= ama.date %> by <%= link_to ama.user.username, admin_user_path(ama.user) %>
                | <%= link_to 'admin link', admin_ama_path(ama) %></span>
            </td>
            <td><%= ama.comments %></td>
            <td><%= ama.responses %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="center">
  <%= will_paginate @amas %>
</div>

