<h1>Listing entities_links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th></th>
    <th></th>
  </tr>

  <% @entities_links.each do |entities_link| %>
      <tr>
        <td><%= entities_link.title %></td>
        <td><%= entities_link.link %></td>
        <td><%= link_to 'Edit', edit_admin_entity_link_path(@entity, entities_link) %></td>
        <td><%= link_to 'Destroy', admin_entity_link_path(@entity, entities_link), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Entities link', new_admin_entity_link_path %>
