<div class="row">
  <div class="span3">
    <%= image_tag @entity.avatar.url(:medium), :class => 'img-polaroid' %>

    <p style="text-align: center; margin-top: 5px;">
      <%= @entity.entities_links.map { |l| link_to image_tag("links/24x24/24x24-#{l.icon.source}.png"), l.link }.join(' ').html_safe %>
    </p>
  </div>
  <div class="span9">
    <h1><%= @entity.name %></h1>

    <p>
      <b>Reddit Usernames:</b>
      <% @entity.users.group(:id).each do |u| %>
          <%= link_to u.username, user_path(u) %>
      <% end %>
    </p>

    <p>
      <b>Tags:</b>
      <%= @entity.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %>
      <a class="edit" href="<%= entity_edit_path() %>"><i class="icon-plus"></i></a>
    </p>

    <div class="well" style="margin-bottom: 5px;"><%= @entity.content %>
      <a class="edit" href="<%= entity_edit_path() %>"><i class="icon-pencil pull-right"></i></a>
    </div>

    <p>
      <span class="muted pull-right">
         <b>Date Added:</b> <%= @entity.created_at %> | <b>Last Updated:</b> <%= @entity.updated_at %>
      </span>
    </p>
  </div>
</div>
