<div class="row">
  <div class="span12">
    <div class="pull-right" style="margin-top: 20px;">

      <% if e.wikipedia_hits > 0 %>
          <span class="badge" data-trigger="hover" data-placement="bottom" data-title="Wikipedia Traffic" data-content="This figure is the 90 day cumulative wikipedia traffic, and the default statistic to rank the famous redditors."><%= number_with_delimiter(e.wikipedia_hits, :delimiter => ',') %></span>
      <% end %>
      <% if e.comment_karma > 0 %>
          <span class="badge badge-info" data-trigger="hover" data-placement="bottom" data-title="Comment Karma" data-content="This figure is the cumulative comment karma of all known reddit.com usernames."><%= number_with_delimiter(e.comment_karma, :delimiter => ',') %></span>
      <% end %>
      <% if e.link_karma > 1 %>
          <span class="badge badge-success" data-trigger="hover" data-placement="bottom" data-title="Link Karma" data-content="This figure is the cumulative link karma of all known reddit.com usernames. Link karma cannot be earned from IAmA."><%= number_with_delimiter(e.link_karma, :delimiter => ',') %></span>
      <% end %>

    </div>
    <h3><%= link_to e.name, entity_path(e) %></h3>

    <p><%= e.content %></p>

    <p><%= e.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></p>
  </div>
</div>