<% content_for :title, "Entities Directory Page " + params[:page].to_s + " :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <h1>Entities</h1>
    <% @entities.each do |e| %>
        <hr/>
        <% if e.avatar? %>
            <div class="row">
              <div class="span2" style="text-align: center;">
                <% if e.avatar? %>
                    <%= image_tag e.avatar.url(:medium), :class => 'img-polaroid' %>
                <% end %>
              </div>
              <div class="span10">
                <h3><%= link_to e.name, entity_path(e) %></h3>

                <p><%= e.content %></p>

                <p><%= e.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></p>
              </div>
            </div>
        <% else %>
            <div class="row">
              <div class="span12">
                <h3><%= link_to e.name, entity_path(e) %></h3>

                <p><%= e.content %></p>

                <p><%= e.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></p>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="pagination-centered">
      <%= will_paginate @entities %>
    </div>
  </div>
</div>
