<% content_for :title, @entity.name + " :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <h1><%= @entity.name %></h1>

    <p>
      <b>Reddit Usernames:</b>
      <% @entity.users.group(:id).each do |u| %>
          <%= link_to u.username, user_path(u) %>
      <% end %>
    </p>

    <p>
      <b>Tags:</b>
      <%= @entity.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %>
    </p>

    <div class="well" style="margin-bottom: 5px;"><%= @entity.content %></div>
    <p>
      <span class="muted">
         <b>Date Added:</b> <%= @entity.created_at %> | <b>Last Updated:</b> <%= @entity.updated_at %>
      </span>

      <span class="pull-right">
        <%= @entity.entities_links.map { |l| link_to image_tag("links/24x24/24x24-#{l.icon.source}.png"), l.link }.join(' ').html_safe %>
      </span>
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="span12">
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
