<% content_for :title, @entity.name + " :: BestofAMA" %>

<% cache(@entity) do %>
    <% if @entity.avatar? %>
        <%= render 'show-advanced' %>
    <% else %>
        <%= render 'show-basic' %>
    <% end %>
    <hr/>
    <div class="row">
      <div class="span12">
        <% @amas.each do |a| %>
            <div class="row">
              <div class="span1 ama-karma-meter-small">
                <%= karma_meter(a.karma).html_safe %>
              </div>
              <div class="span11">
                <h4><%= link_to a.title.html_safe, ama_path(a) %></h4>

                <p class="muted">
                  <b>Comments:</b> <%= a.comments %> |
                  <b>Responses:</b> <%= a.responses %> |
                  <b>Date:</b> <%= a.date %>
                </p>
              </div>
            </div>
        <% end %>
        <% @entity.users.group(:id).each do |u| %>
            <% u.amas_participated.each do |a| %>
                <div class="row">
                  <div class="span1 ama-karma-meter-small">
                    <%= karma_meter(a.karma).html_safe %>
                  </div>
                  <div class="span11">
                    <h4><%= link_to a.title.html_safe, ama_path(a) %></h4>

                    <p class="muted">
                      <b>Comments:</b> <%= a.comments %> |
                      <b>Responses:</b> <%= a.responses %> |
                      <b>Date:</b> <%= a.date %>
                    </p>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <% if current_user_session %>
          <%= render 'edit' %>
      <% end %>
    </div>
<% end %>