<h1>Listing Versions</h1>

<table class="table">
  <tr>
    <th></th>
    <th>User</th>
    <th>Timestamp</th>
    <th>Model#action</th>
    <th>ID</th>
    <th></th>
  </tr>

  <% @versions.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= User.find(version.whodunnit).username %></td>
        <td><%= version.created_at %></td>
        <td><%= version.item_type %>#<%= version.event %></td>
        <td><%= version.item_id %></td>
        <td><%= link_to 'show', admin_version_path(version) %></td>
      </tr>
  <% end %>
</table>

<div class="pagination-centered">
  <%= will_paginate @versions %>
</div>
