<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entities_links_icon.name %>
</p>

<p>
  <b>Source:</b>
  <%= @entities_links_icon.source %>
</p>


<%= link_to 'Edit', edit_admin_link_icon_path(@entities_links_icon) %> |
<%= link_to 'Back', admin_link_icons_path %>
