<% content_for :title, @user.username + " :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <h1><%= @user.username %></h1>

    <p>
      <b>Associated Entities:</b>
      <% @user.entities.group(:id).each do |e| %>
          <%= link_to e.name, entity_path(e) %>
      <% end %>
    </p>

    <p>
      <%= link_to reddit_user_path(@user.username), reddit_user_path(@user.username) %>
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="span12">
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
    <% @user.amas_participated.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title.html_safe, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> |
              <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>