<div class="row">
  <div class="col-span-8">
    <h1>Listing entities</h1>
  </div>
  <div class="col-span-4" style="padding-top: 20px;">
    <%= link_to 'New Entity', new_admin_entity_path, :class => 'btn pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-span-12">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>AMAs</th>
        <th>Wikipedia</th>
        <th>Comment</th>
        <th>Link</th>
        <th></th>
        <th></th>
      </tr>

      <% @entities.each do |entity| %>
          <tr>
            <td><%= link_to entity.name, entity_path(entity) %></td>
            <td><%= entity.tag_list.count %></td>
            <td><%= Ama.where(:user_id => entity.users).count %></td>
            <td><%= entity.wikipedia_hits %></td>
            <td><%= entity.comment_karma %></td>
            <td><%= entity.link_karma %></td>
            <td><%= link_to 'Show', admin_entity_path(entity) %></td>
            <td><%= link_to 'Destroy', admin_entity_path(entity), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-span-12">
    <div class="center">
      <%= will_paginate @entities %>
    </div>
  </div>
</div>
