<div class="row">
  <div class="col-span-12">
    <h1><%= @entity.name %></h1>

    <p>
      <b>Created at:</b>
      <%= @entity.created_at %>
    </p>

    <p>
      <b>Updated at:</b>
      <%= @entity.updated_at %>
    </p>

    <p>
      <b>Avatar:</b>
      <%= @entity.avatar %>
    </p>

    <p>
      <b>Slug:</b>
      <%= @entity.slug %>
    </p>

    <p>
      <b>Tags:</b>
      <%= @entity.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %>
    </p>

    <p>
      <b>Content:</b>
      <%= @entity.content %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-span-8">
    <h3>Users</h3>
  </div>
  <div class="col-span-4">
    <%= link_to 'Add User', new_admin_entity_user_path(@entity), :class => 'btn btn-mini pull-right', :style => 'margin-top: 20px;' %>
  </div>
  <div class="col-span-12">
    </h3>
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Link</th>
        <th>Comment</th>
        <th>AMAs</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @entity.users.uniq.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.link_karma %></td>
            <td><%= user.comment_karma %></td>
            <td><%= user.amas.count %></td>
            <td class="span1"><%= link_to 'Show', admin_user_path(user) %></td>
            <td class="span1"><%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td class="span1"><%= link_to 'Destroy', admin_entity_user_path(@entity, user), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-span-8">
    <h3>Links</h3>
  </div>
  <div class="col-span-4">
    <%= link_to 'Add Link', new_admin_entity_link_path(@entity), :class => 'btn btn-mini pull-right', :style => 'margin-top: 20px;' %>
  </div>
  <div class="col-span-12">
    <table class="table">
      <tr>
        <th>Link</th>
        <th>Icon</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @entity.entities_links.each do |link| %>
          <tr>
            <td><%= link.link %></td>
            <td><%= link.icon.name %></td>
            <td class="span1"><%= link_to 'Show', admin_entity_link_path(@entity, link) %></td>
            <td class="span1"><%= link_to 'Edit', edit_admin_entity_link_path(@entity, link) %></td>
            <td class="span1"><%= link_to 'Destroy', admin_entity_link_path(@entity, link), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_admin_entity_path(@entity) %> |
<%= link_to 'Back', admin_entities_path %>
