<div class="row">
  <div class=.col-8.col-sm-8.col-lg-8">
    <h1>Listing Trashes</h1>
  </div>
  <div class=.col-4.col-sm-4.col-lg-4" style="padding-top: 20px;">
    <%= link_to 'Add Key', new_admin_trash_path, :class => 'btn pull-right' %>
  </div>
</div>

<div class="row">
  <div class=.col-6.col-sm-6.col-lg-6">
    <table class="table">
      <tr>
        <th>Added</th>
        <th>Key</th>
        <th></th>
      </tr>

      <% @trashes.each do |trash| %>
          <tr>
            <td><%= trash.created_at %></td>
            <td><%= trash.key %></td>
            <td><%= link_to 'Destroy', admin_trash_path(trash), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="center">
    <%= will_paginate @trashes %>
  </div>
</div>