<% content_for :title, "Archive of Ask me Anything's :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <h3>Tag Cloud</h3>

    <div id="tag_cloud" class="well">
      <% tag_cloud Entity.tag_counts.limit(100), %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>,
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Recently added "Ask me Anything's" <small><a href="/amas">more</a></small></h3>
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
