<% content_for :title, "Archive of Ask me Anything's :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <h3>Tag Cloud</h3>

    <div id="tag_cloud" class="well">
      <% tag_cloud Entity.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>,
      <% end %>
    </div>
  </div>
</div>

<ul class="breadcrumb" style="text-align: center;">
  <li><%= link_to "A", entities_letter_path("a") %><span class="divider">|</span></li>
  <li><%= link_to "B", entities_letter_path("b") %><span class="divider">|</span></li>
  <li><%= link_to "C", entities_letter_path("c") %><span class="divider">|</span></li>
  <li><%= link_to "D", entities_letter_path("d") %><span class="divider">|</span></li>
  <li><%= link_to "E", entities_letter_path("e") %><span class="divider">|</span></li>
  <li><%= link_to "F", entities_letter_path("f") %><span class="divider">|</span></li>
  <li><%= link_to "G", entities_letter_path("g") %><span class="divider">|</span></li>
  <li><%= link_to "H", entities_letter_path("h") %><span class="divider">|</span></li>
  <li><%= link_to "I", entities_letter_path("i") %><span class="divider">|</span></li>
  <li><%= link_to "J", entities_letter_path("j") %><span class="divider">|</span></li>
  <li><%= link_to "K", entities_letter_path("k") %><span class="divider">|</span></li>
  <li><%= link_to "L", entities_letter_path("l") %><span class="divider">|</span></li>
  <li><%= link_to "M", entities_letter_path("m") %><span class="divider">|</span></li>
  <li><%= link_to "N", entities_letter_path("n") %><span class="divider">|</span></li>
  <li><%= link_to "O", entities_letter_path("o") %><span class="divider">|</span></li>
  <li><%= link_to "P", entities_letter_path("p") %><span class="divider">|</span></li>
  <li><%= link_to "Q", entities_letter_path("q") %><span class="divider">|</span></li>
  <li><%= link_to "R", entities_letter_path("r") %><span class="divider">|</span></li>
  <li><%= link_to "S", entities_letter_path("s") %><span class="divider">|</span></li>
  <li><%= link_to "T", entities_letter_path("t") %><span class="divider">|</span></li>
  <li><%= link_to "U", entities_letter_path("u") %><span class="divider">|</span></li>
  <li><%= link_to "V", entities_letter_path("v") %><span class="divider">|</span></li>
  <li><%= link_to "W", entities_letter_path("w") %><span class="divider">|</span></li>
  <li><%= link_to "X", entities_letter_path("x") %><span class="divider">|</span></li>
  <li><%= link_to "Y", entities_letter_path("y") %><span class="divider">|</span></li>
  <li><%= link_to "Z", entities_letter_path("z") %></li>
</ul>

<div class="row">
  <div class="span12">
    <h3>Recently added "Ask me Anything's" <small><a href="/amas">more</a></small></h3>
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
