<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metum.name %>
</p>

<p>
  <b>Value:</b>
  <%= @metum.value %>
</p>


<%= link_to 'Edit', edit_admin_metum_path(@metum) %> |
<%= link_to 'Back', admin_meta_path %>
