<h1>Listing Versions</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Timestamp</th>
    <th>Model#action</th>
    <th>ID</th>
    <th></th>
  </tr>

  <% @versions.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.created_at %></td>
        <td><%= version.item_type %>#<%= version.event %></td>
        <td><%= version.item_id %></td>
        <td><%= link_to 'show', moderate_version_path(version) %></td>
      </tr>
  <% end %>
</table>

<div class="center">
  <%= will_paginate @versions %>
</div>
