<h1>Record <%= @version.id %></h1>

<div class="row">
  <div class="span12">
    <hr/>
    <%= link_to "Revert", revert_moderate_versions_path(@version), :method => :post, :class => "btn btn-danger pull-right", :style => "margin-top: 10px;" %>
    <h3><%= @version.item_type %>#<%= @version.event %>
      <small><%= @version.created_at %> by <%= @version.whodunnit %></small>
    </h3>
  </div>
  <div class="span6">
    <pre><%= @version.object %></pre>
  </div>
  <div class="span6">
    <% if @version.next %>
        <pre><%= @version.next.object %></pre>
    <% elsif @version.event != 'destroy' %>
        <pre><%= @version.item_type.constantize.find(@version.item_id).to_yaml %></pre>
    <% end %>
  </div>
</div>


