<h1>Editing user</h1>

<%= form_for(@user, :url => admin_user_path(@user)) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <br/>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :modhash %>
      <br/>
      <%= f.text_field :modhash %>
    </div>
    <div class="field">
      <%= f.label :banned %>
      <br/>
      <%= f.check_box :banned %>
    </div>
    <div class="field">
      <%= f.label :link_karma %>
      <br/>
      <%= f.number_field :link_karma %>
    </div>
    <div class="field">
      <%= f.label :comment_karma %>
      <br/>
      <%= f.number_field :comment_karma %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
