<% content_for :title, "AMA Directory Ordered By '" + @order.to_s + "' Page " + params[:page].to_s + " :: BestofAMA" %>

<div class="row">
  <div class="span7">
    <h3>AMA's Directory</h3>
  </div>
  <div class="span5" style="padding-top: 25px;">
    <p class="pull-right"><b>Order by:</b>
      <%= link_to "Date", amas_path %> |
      <%= link_to "Karma Score", amas_path(:order => "karma") %> |
      <%= link_to "Comments", amas_path(:order => "comments") %> |
      <%= link_to "Responses", amas_path(:order => "responses") %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="pagination-centered">
      <%= will_paginate @amas %>
    </div>
  </div>
</div>
