<% content_for :title, "AMA Directory Ordered By '" + @order.to_s + "' Page " + params[:page].to_s + " :: BestofAMA" %>

<div class="row">
  <%= image_tag "homepage.png", :class => "span3", :alt => "Created by Rashik Patel (http://rashikpateldesign.co)" %>
  <div class="span6" style="padding-top: 15px;">
    <h1>BestofAMA Directory</h1>
    <ul class="breadcrumb">
      <li><strong>Order by:</strong></li>
      <li style="margin-left: 20px;"><%= link_to "Date", amas_path %> <span class="divider">|</span></li>
      <li><%= link_to "Karma Score", amas_path(:order => "karma") %> <span class="divider">|</span></li>
      <li><%= link_to "Comments", amas_path(:order => "comments") %> <span class="divider">|</span></li>
      <li><%= link_to "Responses", amas_path(:order => "responses") %></li>
    </ul>
  </div>
</div>
<hr/>
<div class="row">
  <div class="span12">
    <% @amas.each do |a| %>
        <div class="row">
          <div class="span1 ama-karma-meter-small">
            <%= karma_meter(a.karma).html_safe %>
          </div>
          <div class="span11">
            <h4><%= link_to a.title.html_safe, ama_path(a) %></h4>

            <p class="muted">
              <b>Comments:</b> <%= a.comments %> | <b>Responses:</b> <%= a.responses %> |
              <b>Date:</b> <%= a.date %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="pagination-centered">
      <%= will_paginate @amas %>
    </div>
  </div>
</div>
