<% content_for :title, @ama.title + " by " + @ama.user.username + " :: BestofAMA" %>
<div class="row">
  <div class="span1 ama-karma-meter-large">
    <%= karma_meter(@ama.karma).html_safe %>
  </div>
  <div class="span11">
    <% if @ama.user.entities.count > 0 %>
        <h2>
          <%= @ama.user.entities.group(:id).map! { |e| link_to e.name, entity_path(e) }.join(" & ").html_safe %>
          <small>as <%= link_to @ama.user.username, user_path(@ama.user) %></small>
        </h2>
    <% end %>
    <h5><%= @ama.title %></h5>
    <% if !@ama.content.blank? %>
        <div class="well" style="margin-bottom: 5px;"><%= @ama.content.html_safe %></div>
    <% end %>
    <p class="muted">
      <b>Comments:</b> <%= @ama.comments %> | <b>Responses:</b> <%= @ama.responses %> |
      <b>Date:</b> <%= @ama.date %> <%= link_to "source", reddit_ama_path(@ama.permalink), :class => "pull-right" %>
    </p>
  </div>
</div>

<% if @ama.users.count > 0 %>
    <div class="row" style="margin-top: 15px;">
      <div class="span12">
        <h4>Participants</h4>
        <ul>
          <% @users.each do |user| %>
              <li>
                <% if user.entities.count > 0 %>
                    <h4>
                      <%= user.entities.group(:id).map! { |e| link_to e.name, entity_path(e) }.join(" & ").html_safe %>
                      <small>as <%= link_to user.username, user_path(user) %></small>
                    </h4>
                <% else %>
                    <%= link_to user.username, user_path(user) %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<% cache('ama_' + @ama.id.to_s + '_comments_cache') do %>
    <div class="row" style="margin-top: 15px;">
      <div class="span12">
        <h4>Comments</h4>
        <hr/>
        <%= print_comments(@ama, @ama, 0).html_safe %>
      </div>
    </div>
<% end %>
