<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= csrf_meta_tags %>
  <title><%= h yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
<div id="wrapper">
  <div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "BestofAMA", root_path, :class => "brand" %>
        <ul class="nav">
          <li><%= link_to "AMAs", amas_path %></li>
          <li><%= link_to "Entities", entities_path %></li>
          <li><%= link_to "Submit", submit_path %></li>
          <li id="li-navbar-search-button">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Search</a>
          </li>
          <li id="li-navbar-search-form" class="hidden">
            <form action="http://www.google.com/cse" method="get" class="navbar-search pull-left">
              <input type="hidden" name="cx" value="003202986105447661025:fwrphcpwb4q"/>
              <input type="text" name="q" class="search-query" placeholder="Search">
            </form>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user_session %>
              <li class="dropdown">
                <a id="current_user_username" href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if current_user.is_admin? %>
                      <li><%= link_to "Admin Panel", admin_amas_path %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", logout_session_path %></li>
                </ul>
              </li>
          <% else %>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Account</a>

                <%= form_for UserSession.new, :url => session_path, :html => {:class => "dropdown-menu", :style => "padding: 15px;"} do |f| %>
                    <h5>Account Login</h5>
                    <%= f.text_field :username, :placeholder => "Reddit.com Username" %>
                    <%= f.password_field :password, :placeholder => "Reddit.com Password" %>
                    <span style="font-size: 10px;">Your reddit.com password <b style="color: red;">is not</b> stored, saved, or logged. <%= link_to "..wait what?", page_path(:id => "privacy") %></span>
                    <%= f.submit "Login", :class => "btn btn-medium btn-block btn-inverse" %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <% if flash[:notice] %>
          <div class="row">
            <div class="span12">
              <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= flash[:notice] %>
              </div>
            </div>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <hr/>
      <div class="row">
        <div id="footer-links" class="span10 pull-left">
          <%= link_to "Privacy Policy", page_path(:id => "privacy"), :rel => :nofollow %>
          <%= link_to "Terms of Service", page_path(:id => "terms"), :rel => :nofollow %>
          <%= link_to "Source Code", "https://github.com/andey/bestofama" %>
          <%= link_to "Contact", page_path(:id => "contact"), :rel => :nofollow %>
          <footer>
            Copyright © 2013 BestofAMA.com, All rights reserved.
          </footer>
        </div>
        <div class="span2" style="text-align: right;">
          <%= link_to image_tag('links/48x48/48x48-twitter.png'), 'https://twitter.com/BestofAMAs', :alt => "Follow us on Twitter" %>
          <%= link_to image_tag('links/48x48/48x48-rss.png'), 'http://feeds.feedburner.com/bestofama', :alt => "Follow our RSS feed" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
